@{
    ViewBag.Title = "";
    Layout = "";
}

<section class="panel panel-default">
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-fix-1 form-group">
                    <label class="input-s-sm control-label">年月日</label>
                    @(Html.Smat().DatePicker("datepicker")
                          .Value("2015/02/18")
                          .HtmlAttributes(new { @class = "form-control input-s" })
                    )
                </div>
            </div>
            <div class="row">
                <div class="col-fix-1 form-group">
                    <label class="input-s-sm control-label">年月</label>
                    @(Html.Smat().DatePicker("monthpicker")
                          .Start(CalendarView.Year)
                          .Depth(CalendarView.Year)
                          .Format("MMMM yyyy")
                          .Value("February 2015")
                          .HtmlAttributes(new { @class = "form-control input-s" })
                    )
                </div>
            </div>
        </div>
    </div>
</section>

<div class="m-b-md">
    <h3 id="demo-type-title" class="m-b-none">Elements</h3>
    <div class="other-source">
        <h4>demo also available for:</h4>
        <ul id="other-source-ul"></ul>
    </div>
</div>
<!-- =====================以下是code显示区域 =====================-->
<section class="panel panel-default">
    <div class="panel-body">
        <div id="code-tabstrip">
            <ul>
                <li class="s-state-active">
                    demo.html
                </li>
            </ul>
            <div>
                <pre>
                <code>
                        <!-- ====code显示区域 =====-->
                <script class="source-code" type="text">
                    
<div class="form-horizontal">
    <div class="row">
        <div class="col-fix-1 form-group">
            <label class="input-s-sm control-label">年月日</label>
            @@(Html.Smat().DatePicker("datepicker")
                   .Value("2015/02/18")
                   .HtmlAttributes(new { @@class = "form-control input-s" })
            )
        </div>
    </div>
    <div class="row">
        <div class="col-fix-1 form-group">
            <label class="input-s-sm control-label">年月</label>
            @@(Html.Smat().DatePicker("monthpicker")
                   .Start(CalendarView.Year)
                   .Depth(CalendarView.Year)
                   .Format("MMMM yyyy")
                   .Value("February 2015")
                   .HtmlAttributes(new { @@class = "form-control input-s" })
            )
        </div>
    </div>
</div>
                        </script>
                        <!-- /===code显示区域 =====-->
                    </code>
             </pre>
            </div>
        </div>
    </div>
</section>
<script>
    $("#code-tabstrip").asmatTabStrip();

    hljs.configure({ tabReplace: '    ' }); // 4 spaces
    $('pre code').each(function (i, e) {

        if ($(this).find('.source-code').length > 0) {

           $(this).html((asmat.htmlEncode($(this).find('.source-code').html())) + " &lt;/script&gt;");

        }

        hljs.highlightBlock(e)
    });
</script>
