@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h3>(ip:@ViewBag.ip)アクセスが制限されています。もう一度実行してください。</h3>
    </hgroup>
</body>
</html>
