<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの発行/パッケージ処理で使用されます。この MSBuild ファイルを編集することによって、
この処理の動作をカスタマイズできます。詳細については、http://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://safeneeds.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>safeneeds.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>safeneeds</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$safeneeds</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="EvaluationContext" Order="1" Enabled="False">
          <Destination Path="Data Source=vzh0zdr07p.database.windows.net;Initial Catalog=TG_TEST2;Integrated Security=False;User ID=safeneeds;Password=tujinrong1229!;Connect Timeout=30" Name="Data Source=vzh0zdr07p.database.windows.net;Initial Catalog=TG_TEST2;Integrated Security=False;Connect Timeout=30;uid=safeneeds;pwd=tujinrong1229!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WebEvaluation.DAL.EvaluationContext, ContosoUniversity" MigrationConfiguration="WebEvaluation.Migrations.Configuration, ContosoUniversity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DySMAT" Order="4" Enabled="False" xmlns="">
          <Destination Path="Data Source=vzh0zdr07p.database.windows.net;Initial Catalog=TG_TEST2;Integrated Security=False;User ID=safeneeds;Password=tujinrong1229!;Connect Timeout=30" Name="Data Source=vzh0zdr07p.database.windows.net;Initial Catalog=TG_TEST2;Integrated Security=False;Connect Timeout=30;uid=safeneeds;pwd=tujinrong1229!" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=vzh0zdr07p.database.windows.net;Initial Catalog=TG_TEST2;Integrated Security=False;User ID=safeneeds;Password=tujinrong1229!;Connect Timeout=300" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DySMAT_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=vzh0zdr07p.database.windows.net;Initial Catalog=TG_TEST2;Integrated Security=False;Connect Timeout=300;uid=safeneeds;pwd=tujinrong1229!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DySMAT-Web.config Connection String">
      <ParameterValue>Data Source=vzh0zdr07p.database.windows.net;Initial Catalog=TG_TEST2;Integrated Security=False;Connect Timeout=30;uid=safeneeds;pwd=tujinrong1229!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EvaluationContext-Web.config Connection String">
      <ParameterValue>Data Source=vzh0zdr07p.database.windows.net;Initial Catalog=TG_TEST2;Integrated Security=False;Connect Timeout=30;uid=safeneeds;pwd=tujinrong1229!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>