@model WebEvaluation.ViewModels.ChangePasswordViewModel

@{
    ViewBag.IMG = "../../Content/images/ic-key.png";
    ViewBag.color = "#2e2e2e";
    ViewBag.Title = "パスワード変更";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
  <div class="jumbotron">
    <div class="row">
        <div class="party-import-box">
            @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @class = "form-horizontal", @onsubmit = "return checkForm()", @style = "margin-top:0px;" }))
            {
                <fieldset>
                    <legend style="padding-left:190px;color:#aaaaaa;padding-bottom: 20px;">下記の条件でパスワードを設定してください。<br>　　※英字と数字を混在をを進めます<br>　　※8文字以上、20文字以下</legend>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="inputPassword">現在パスワード</label>
                        <div class="col-lg-6">
                            @Html.PasswordFor(c => c.OldPassowrd, new { @class = "form-control", @maxlength = "20", @placeholder = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="inputPassword">新しいパスワード</label>
                        <div class="col-lg-6">
                            @Html.PasswordFor(c => c.NewPassWord, new { @class = "form-control", @maxlength = "20", @placeholder = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="inputPassword">パスワードの確認入力</label>
                        <div class="col-lg-6">
                            @Html.PasswordFor(c => c.NewPasswordConfirm, new { @class = "form-control", @maxlength = "20", @placeholder = "" })
                        </div>
                    </div>
                    <div class="form-group" style="text-align:center;">
                        <button class="btn btn-success" type="submit">更新</button>
                        @Html.ButtonAction(false, "取消", "../Home/Index", null, new { @class = "btn btn-primary" })
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>

    
    <script type="text/javascript">

        function checkForm() {
            if ($("#OldPassowrd").val().trim().length == 0) {
                SMAT.Service.toastr("現在パスワードを入力してください！", "error");
                $("#OldPassowrd").focus();
                return false;
            }
            if ($("#NewPassWord").val().trim().length == 0) {
                SMAT.Service.toastr("新しいパスワードを入力してください!", "error");
                $("#NewPassWord").focus();
                return false;
            }
            if ($("#NewPasswordConfirm").val().trim().length == 0) {
                SMAT.Service.toastr("パスワードの確認入力してください!", "error");
                $("#NewPasswordConfirm").focus();
                return false;
            }
            if ($("#NewPassWord").val().trim().length < 8) {
                SMAT.Service.toastr("新しいパスワードを8文字以上、20文字以下で入力してください!", "error");
                $("#NewPassWord").focus();
                return false;
            }
            if ($("#NewPasswordConfirm").val().trim().length < 8) {
                SMAT.Service.toastr("パスワードの確認入力を8文字以上、20文字以下でしてください!", "error");
                $("#NewPasswordConfirm").focus();
                return false;
            }
            if ($("#NewPassWord").val() != $("#NewPasswordConfirm").val())
            {
                SMAT.Service.toastr("パスワードが一致しません!", "error");
                $("#NewPasswordConfirm").focus();
                return false;
            }

            return true;
        }
    </script>
</body>
</html>
