@{
    ViewBag.Title = "Home Page";
}

<section class="panel panel-default">
    <div class="panel-body" style="padding:20px">

        <section class="panel panel-home no-borders col-xs-12">
           11111111
        </section>

        <section class="panel panel-home no-borders col-xs-12">

            22222222222
        </section>

    </div>
</section>

<script>
        $(document).ready(function () {

            iniMenu("#nav-menu", "ASMAT.UI");
        });
</script>