@{
    ViewBag.Title = "Home Page";
}

<style>
 .home-menu-icon {
padding: 7px;
border-radius: 3px;
}
</style>

<section class="panel panel-default">
    <div id="home-panel-body" class="panel-body" style="padding:20px">


    </div>
</section>

<script>
        $(document).ready(function () {

            iniMenu("#nav-menu", "ASMAT.UI");

            iniMenuPanel("#home-panel-body", "ASMAT.UI");
        });
</script>