<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの発行/パッケージ処理で使用されます。この MSBuild ファイルを編集することによって、
この処理の動作をカスタマイズできます。詳細については、http://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nisshinsystem.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>nisshinsystem.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>NisshinSystem</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$NisshinSystem</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DrinkServiceContext" Order="6" Enabled="False">
          <Destination Path="Data Source=vzh0zdr07p.database.windows.net;Initial Catalog=Drink;Integrated Security=False;User ID=safeneeds;Password=tujinrong1229!;Connect Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DrinkService.Models.DrinkServiceContext, DrinkService.Data" MigrationConfiguration="DrinkService.Migrations.Configuration, DrinkService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DySMAT" Order="7" Enabled="False">
          <Destination Path="Data Source=vzh0zdr07p.database.windows.net;Initial Catalog=Drink;Integrated Security=False;User ID=safeneeds;Password=tujinrong1229!;Connect Timeout=30" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=vzh0zdr07p.database.windows.net;Initial Catalog=Drink_Test;Integrated Security=False;User ID=safeneeds;Password=tujinrong1229!;Connect Timeout=30" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DySMAT_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=vzh0zdr07p.database.windows.net;Initial Catalog=Drink_Test;Integrated Security=False;Connect Timeout=30;uid=safeneeds;pwd=tujinrong1229!" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DrinkService.Models.ApplicationDbContext, DrinkService" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DrinkServiceContext-Web.config Connection String">
      <ParameterValue>Data Source=vzh0zdr07p.database.windows.net;Initial Catalog=Drink;Integrated Security=False;User ID=safeneeds;Password=tujinrong1229!;Connect Timeout=30</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DySMAT-Web.config Connection String">
      <ParameterValue>Data Source=vzh0zdr07p.database.windows.net;Initial Catalog=Drink;Integrated Security=False;User ID=safeneeds;Password=tujinrong1229!;Connect Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>