@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_DySubFormLayout.cshtml";
}

<div id="page_@(ViewBag.id)"></div>


<script>

    smat.uiConfig.CodeMst = {
        cache: true,
        codeListUrl: "/Dynamics/GetOptionSet",
        kindField: "OptSetName",
        codeField: "CD",
        nameField: "Name",
        memoField: "Memo"

    }

    var projID = "@ViewBag.ProjID";
    var formName = "@ViewBag.FormName";
    var entityName = "@ViewBag.EntityName";

    var pageObj = smat.dynamics.openPage({
        projID: projID,
        formName: formName,
        entityName: entityName,
        contextOn: $("#page_@(ViewBag.id)"),
        callBack: function (page) {
            $("#sub_nav_title").text(page.config.title)
        }
    })


</script>

