<?xml version="1.0"?>
<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=301880 を参照してください
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="ipRule" type="System.Configuration.DictionarySectionHandler,system, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, Custom=null"/>
  </configSections>
  <connectionStrings>
    <!--<add name="DrinkServiceContext" connectionString="Data Source=161.202.97.117;Initial Catalog=Drink;Integrated Security=False;Connect Timeout=30;uid=sa;pwd=sa010203~" providerName="System.Data.SqlClient" />
    <add name="DySMAT" connectionString="Data Source=161.202.97.117;Initial Catalog=Drink;Integrated Security=False;Connect Timeout=30;uid=sa;pwd=sa010203~" providerName="System.Data.SqlClient" />-->
    <!--<add name="DrinkServiceContext" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|Drink.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />
    <add name="DySMAT" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|Drink.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient" />-->
    <!--<add name="DrinkServiceContext" connectionString="Data Source=10.54.71.166;Initial Catalog=Drink;Integrated Security=False;Connect Timeout=30;uid=sa;pwd=sa01020304~" providerName="System.Data.SqlClient" />
    <add name="DySMAT" connectionString="Data Source=10.54.71.166;Initial Catalog=Drink;Integrated Security=False;Connect Timeout=30;uid=sa;pwd=sa01020304~" providerName="System.Data.SqlClient" />-->
    <!--<add name="DrinkServiceContext" connectionString="Data Source=50.23.106.236;Initial Catalog=DrinkTemp;Integrated Security=False;Connect Timeout=30;uid=sa;pwd=sa01020304~" providerName="System.Data.SqlClient" />
    <add name="DySMAT" connectionString="Data Source=50.23.106.236;Initial Catalog=DrinkTemp;Integrated Security=False;Connect Timeout=30;uid=sa;pwd=sa01020304~" providerName="System.Data.SqlClient" />-->
    <add name="DrinkServiceContext" connectionString="Data Source=SERVER77-PC\SQLSERVER2012;Initial Catalog=Drink_v0120;Integrated Security=False;Connect Timeout=30;uid=sa;pwd=sa010203~" providerName="System.Data.SqlClient"/>
    <add name="DySMAT" connectionString="Data Source=SERVER77-PC\SQLSERVER2012;Initial Catalog=Drink_v0120;Integrated Security=False;Connect Timeout=30;uid=sa;pwd=sa010203~" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="aspnet:MaxJsonDeserializerMembers" value="1500000000000"/>
  </appSettings>
  <!--
    web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="60000"/>
    <sessionState mode="InProc" timeout="60"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <security>
      <!--! <ipSecurity allowUnlisted="false" denyAction="NotFound">
        <add allowed="true" ipAddress="202.232.189.134" subnetMask="255.255.255.255"/>
        <add allowed="true" ipAddress="114.160.223.9" subnetMask="255.255.255.255"/>
        <add allowed="true" ipAddress="116.1.249.162" subnetMask="255.255.255.255"/>
        <add allowed="true" ipAddress="116.252.47.255" subnetMask="255.255.255.255"/>
      </ipSecurity> -->
    </security>
    <staticContent>
      <mimeMap fileExtension=".JDT" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".properties" mimeType="application/octet-stream"/>
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <ipRule>
    <add key="ip0" value="::1"/>
    <add key="ip1" value="202.232.189.134"/>
    <add key="ip2" value="114.160.223.9"/>
    <add key="ip3" value="116.1.249.162"/>
    <add key="ip4" value="116.252.47.255"/>
  </ipRule>
</configuration>